os-fis-ws-demo/src/main/resources/wsdl/greetWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ipm.eas.cts.com/api/ws/greet" 
	name="greetWS" targetNamespace="http://www.ipm.eas.cts.com/api/ws/greet">

	<wsdl:types>
		<xsd:schema xmlns:tns="http://www.ipm.eas.cts.com/api/ws/greet" targetNamespace="http://www.ipm.eas.cts.com/api/ws/greet">
			<xsd:element name="sayHelloRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sayHelloResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sayHelloRequest">
		<wsdl:part element="tns:sayHelloRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:sayHelloResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="greetWSInterface">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequest" />
			<wsdl:output message="tns:sayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="greetWSBinding" type="tns:greetWSInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation
				soapAction="http://0.0.0.0:8080/esb/api/ws/greet/sayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="greetWS">
		<wsdl:port binding="tns:greetWSBinding" name="greetWSPort">
			<soap:address location="http://0.0.0.0:8080/esb/api/ws/greet"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>